.container-mysong {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    /* Define a altura do container como 100% da altura da viewport */
}

.images {
    background-color: rgb(208, 208, 208);
    width: 320px;
    height: 320px;
}

.carousel-item img {
    width: auto;
    height: auto;
    max-height: 320px;
    /* Ajuste a altura máxima conforme necessário */
}